.register{
    width: 100vw;
    min-height: 100vh;
    margin-top: 69px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



.logo__wrapper{
    width: max-content;
margin-bottom: 20px;
}

.logo__wrapper img {
    width: 65px;
}
.anticon-user,.anticon-lock > svg{
    width: 21px !important;
    height: 36px;
    color: #686767;
}

#components-form-demo-normal-login .login-form {
    max-width: 300px;
  }
  #components-form-demo-normal-login .login-form-forgot {
    float: right;
  }
  #components-form-demo-normal-login .ant-col-rtl .login-form-forgot {
    float: left;
  }
  #components-form-demo-normal-login .login-form-button {
    width: 100%;
  }
