.home{
    width: 100vw;
    min-height: 100vh;
    margin-top: 69px; 
    background-color: #e6e2e2cf;
}

.home__wrapper{
    width: 100vw;
    min-height: 100vh;
    padding: 10px 20px 0px 6px;
    /* background-color: #e6e2e2cf; */
}